[submodule "me-280/homeworks/4/src/DynamixelSDK"]
	path = me-280/homeworks/4/src/DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = humble
[submodule "me-280/homeworks/4/src/turtlebot3_msgs"]
	path = me-280/homeworks/4/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs.git
	branch = humble
[submodule "me-280/homeworks/4/src/turtlebot3"]
	path = me-280/homeworks/4/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3.git
	branch = humble
[submodule "me-280/homeworks/4/src/turtlebot3_simulations"]
	path = me-280/homeworks/4/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
	branch = humble
[submodule "me-280/homeworks/4/src/me2800_hw4"]
	path = me-280/homeworks/4/src/me2800_hw4
	url = https://github.com/tresabhi/me2800_hw4.git
[submodule "me-280/project"]
	path = me-280/project
	url = https://github.com/tresabhi/me-280-project.git
[submodule "aere-361/labs/1"]
	path = aere-361/labs/1
	url = https://github.com/AERE-361/lab-1-s2026-tresabhi.git
[submodule "cpre-287/labs/2"]
	path = cpre-287/labs/2
	url = https://git.ece.iastate.edu/tpdeerin/cpre287x-l2.git
[submodule "aere-361/labs/2"]
	path = aere-361/labs/2
	url = https://github.com/AERE-361/lab-2-s2026-tresabhi.git
