__pycache__/
*.html
*.pdf
test.*
test/
*.zip
me-280/perception/dataset/*/images/*.jpg
me-280/perception/dataset/*/labels/*.txt
me-280/homeworks/2/runs/
*.cache
*.pt
me-280/homeworks/3/build/
me-280/homeworks/3/install/
me-280/homeworks/3/log/
me-280/homeworks/4/build/
me-280/homeworks/4/install/
me-280/homeworks/4/log/
me-280/homeworks/4/big_bags/
me-280/homeworks/4/big_bags/

me-280/f1sim_ws/build/
me-280/f1sim_ws/install/
me-280/f1sim_ws/log/